*
{
  /* box-sizing: border-box; */
  margin: 0;
  padding: 0;
  background-color: #dad0d0;
}
 body{
   background-position: center;
   display: block;
   
 }
  /* a {
    cursor: pointer;
    text-decoration: none;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
  } */
  
  a:hover {
    color: #F28123;
    text-decoration: none;
  }

  /* logo */
  .logo-class {
  float: left;
  position: absolute;
width: 80px;
height: 23px;
left: 26px;
top: 16px;
border-radius: 6px;
  }
  /* bg image */
  .bg-image
  {
width: 395px;
height: 300px;
z-index: 1;
position: absolute;
left: 450px;
top: 175px;
background: transparent;
  }

.bg-image2
  {
    width: 500px;
    height: 500px;
    left: 400px;
    top: 75px;
position: absolute;
z-index: 1;

  }
.hero-area
  {
    /* width: 100%;
    padding-top: 15%;
    padding-left: 35%; */
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      position: relative;
  }
  .subtitle
  {
font-family: Poppins,sans-serif;
font-style: normal;
font-weight: 600;
font-size: 30px;
color: #FFFFFF;
position: absolute;
z-index: 1;
left: 600px;
top: 375px;
background: transparent;
  }

.navbarbtn
{
  float: left;
  margin-top: 200px;
  margin-left: 0;
}

.reg-btn
{
  top: 425px;
  background: transparent;
}
.login-btn
  {
    top: 425px;
    background: transparent;
  }
