*
{
  /* box-sizing: border-box; */
  margin: 0;
  padding: 0;
  background-color: #dad0d0;
}
 body{
   background-color: #dad0d0;
 }
  a {
    cursor: pointer;
    text-decoration: none;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
  }
  


  /* logo */
.logo-class {
  float: left;
  position: absolute;
width: 80px;
height: 23px;
left: 26px;
top: 16px;
border-radius: 6px;
  }
  /* bg image */
.bg-image
  {
width: 395px;
height: 300px;
z-index: 1;
position: absolute;
left: 450px;
top: 175px;
background: transparent;
  }

.bg-image2
  {
    width: 500px;
    height: 500px;
    left: 400px;
    top: 75px;
position: absolute;
z-index: 1;

  }
.hero-area
  {
  align-content: center;
}

  .subtitle
  {
font-family: Poppins,sans-serif;
font-style: normal;
font-weight: 600;
font-size: 30px;
color: #FFFFFF;
position: absolute;
z-index: 1;
left: 600px;
top: 375px;
background: transparent;
  }

.navbarbtn
{
  float: left;
  margin-top: 200px;
  margin-left: 0;
}

  a.login-btn {
    font-family: 'Poppins', sans-serif;
    display: inline-block;
    background-color:rgb(158, 2, 158);
    color: #fff;
    padding: 10px 20px;
    z-index: 1;
    position: absolute;
    top: 450px;
  left: 525px;
  }
  
  a.reg-btn {
    font-family: 'Poppins', sans-serif;
    display: inline-block;
    color: #fff;
    border: 2px solid rgb(158, 2, 158);
    padding: 7px 20px;
    z-index: 1;
    position: absolute;
    top: 450px;
    background: transparent;
    left: 680px;
  }
  a.login-btn, a.reg-btn {
    border-radius: 50px;
  }
  a.login-btn {
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
  }
  
  a.login-btn:hover {
    background-color:rgb(233, 190, 219);
    color: 6E39B1;
  }
  
  a.reg-btn {
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
  }
  
  a.reg-btn:hover {
    background-color:rgb(158, 2, 158);
    color: #fff;
  }
  html, body {
    height: 100%;
  }
