* {
    margin: 0px;
    padding: 0px;
}

html,
body {
    height: 100%;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f1f0f6;
}
body {
    background-color: #222;
}

#preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
#loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #9370db;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}
#loader:before {
    content: '';
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #ba55d3;
    -webkit-animation: spin 3s linear infinite;
    animation: spin 3s linear infinite;
}
#loader:after {
    content: '';
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #ff00ff;
    -webkit-animation: spin 1.5s linear infinite;
    animation: spin 1.5s linear infinite;
}
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.About {
    padding: 2vw;
    margin: 0px;
}

.About .row {
    display: flex;
    flex-direction: row;
    align-content: space-between;
}

.imgvid {
    margin-left: 50%;
    margin-left: 30%;
}

h2 {
    font-style: normal;
    font-weight: 600;
    font-size: 2vw;
    line-height: 45px;
    /* margin-left: 35%; */
    margin-bottom: 0.2vw;
    padding: 3%;
}

@keyframes floatright {
    0% {
        margin-left: 5%;
    }
}

.nav-item:hover {
    border-bottom-style: solid;
    border-bottom-width: thick;
    border-bottom-color: 6e39b1;
    animation-name: floatright;
    animation-duration: 1s;
}
.hero {
    width: 100vw;
    background-image: url('../img/bg.png');
    background-image: cover;
    background-position: cover;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 660px;
    margin: 0px;
    padding: 0px;
}
.hero .hero-container {
    width: 100%;
    margin: 0px;
    padding: 0px;
    min-height: 600px;

    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    justify-content: center;
}

@media (max-width: 768px) {
    .hero-container img {
        width: 380px;
    }
}
@media (min-width: 768px) {
    .hero-container img {
        width: 600px;
    }
}
.hero h3,
.hero h1 {
    color: white;
    text-align: center;
    font-family: Graphik, sans-serif;
    font-size: 2.4vw;
}
/* .signup-login,
.signup-login a {
    background: transparent;
    display: flex;
    justify-content: space-between;
    width: 10rem;
    margin-left: 39%;
    margin-top: 2rem;
    text-decoration: none;
}
.signup-login a button {
    background-color: #6e39b1;
    color: white;
    padding: 0.8rem;
    border-radius: 12px;
    border: none;
    cursor: pointer;
} */
/* .hero img {
    width: 24rem;
    margin-left: 36%;
    margin-top: 10%;
} */
.container {
    padding: 0px;
}

.About p {
    padding: 0px;
    margin: 0px;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    text-align: justify;
    margin-left: 5%;
    margin-right: 25%;
    color: #4f526a;
}

.vid {
    box-shadow: hotpink;
}

.timeline ul li {
    list-style-type: none;
    position: relative;
    width: 6px;
    margin: 0 auto;
    padding-top: 50px;
    background: #4c0899;
}

.timeline ul li::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%) rotate(45deg);
    width: 20px;
    height: 20px;
    z-index: 2;
    background: #4c0899;
}

.timeline ul li div {
    position: relative;
    bottom: 0;
    width: 400px;
    box-shadow: 4px 13px 30px 1px rgba(224, 49, 145, 0.2);
    /* border-radius: 5px; */
    display: flex;
    align-items: center;
}

.timeline ul li div time {
    position: absolute;
    background: #4f526a;
    width: 80px;
    height: 30px;
    top: -15px;
    color: white;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 2px;
}

.timeline ul li div div {
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.timeline ul li div div h5 {
    text-align: center;
    font-size: 25px;
    /* font-style: normal;
    font-weight:lighter; */
    font-family: Poppins;
    font-style: normal;
    font-weight: 400;
}

.discovery {
    margin-right: 10px;
}

@media screen and (min-width: 900px) {
    .timeline ul li:nth-of-type(odd) > div {
        left: 42px;
    }

    .timeline ul li:nth-of-type(even) > div {
        left: -442px;
    }
}
@media screen and (max-width: 900px) {
    .timeline ul li {
        display: flex;
        align-content: flex-start;
    }
    .timeline ul li div {
        flex-direction: column;
    }
    .timeline ul li {
        margin-left: 10%;
    }
    .timeline ul li div {
        margin-left: 45%;
        padding: 5%;
    }
}

@media screen and (max-width: 600px) {
    .timeline ul li div {
        width: 250px;
        flex-direction: column;
    }
    .timeline ul li {
        margin-left: 10%;
    }
    .timeline ul li div {
        margin-left: 75%;
        padding: 5%;
    }
    .timeline ul li div div {
        margin-left: 75%;
    }
    .timeline ul li:nth-of-type(even) > div {
        animation-play-state: inherit;
    }
}

.prize {
    margin: 0px;
    padding: 0px;
}

.cont {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 20%;
    margin-right: 20%;
}

.prz {
    margin-top: 1rem;
    width: 15rem;
    height: 18rem;
    background-color: white;
    border-radius: 16px;
    box-shadow: 0px 4px 4px 0px #49002240;
}

.prz svg {
    background: none;
    margin-left: 42%;
    margin-top: 15%;
}

.prz h4,
.prz p {
    text-align: center;
    margin-top: 1rem;
    background: none;
    padding-left: 3rem;
    padding-right: 3rem;
    font-size: 18px;
}

.prz-btn {
    align-self: center;
    background-color: #4f526a;
    color: white;
    width: 100px;
    height: 40px;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    margin-left: 28%;
    margin-top: 0.1rem;
}

@media screen and (max-width: 1008px) {
    .cont {
        flex-direction: row;
    }

    .cont div {
        margin: 1rem;
    }

    .cont div h4,
    .cont div p {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .cont div button {
        margin-left: 22%;
    }
}

@media screen and (max-width: 768px) {
    .cont {
        flex-direction: column;
        margin: 0 30% 0 30%;
    }

    .cont div {
        margin-top: 2rem;
    }

    .cont div button {
        margin-left: 28%;
    }
}

.testimonials-cont {
    background: none;
    margin: 0px;
    padding: 0px;
    display: flex;

    justify-content: space-between;
    margin-left: 10%;
    margin-right: 10%;
}
@media (max-width: 1108px) {
    .testimonials-cont {
        flex-wrap: wrap;
        margin: 0 30% 0 30%;
        padding: 0;
    }
}
.testimonials-cont .container {
    width: 18rem;
    height: 24rem;
    position: relative;
    /* margin: 30px; */
    background: white;
}

.test-content {
    width: 90%;
    height: 90%;
    position: absolute;
    top: 0;
    left: 0;
    margin: 1rem;
    opacity: 0.7;
    background: #e2d4f4;
}

.test-content svg {
    background: none;
    margin-left: 1rem;
    margin-top: 1rem;
}

.test-content p {
    text-align: center;
    background: none;
    padding: 1rem;
    font-size: 16px;
    font-style: normal;
    font-family: Poppins;
    font-weight: 400;
}

.overlay {
    z-index: 9;
    margin: 30px;
}

.sponsor-heading {
    font-size: 25px;
    font-weight: 700;
    font-family: Montserrat, sans-serif;
    align-content: center;
    text-align: center;
    justify-content: center;
    margin: 50px 0 30px 0;
    text-transform: uppercase;
}

.Sponsors {
    margin: 0 auto;
}

.spon-cont {
    display: flex;
    flex-wrap: wrap;
}

.spon-prev-cont {
    display: flex;
    flex-wrap: wrap;
}

@media (min-width: 768px) {
    .col-sm-6 {
        width: 50%;
    }
}

.sponsors-logo {
    background-color: #fff;
    height: 14rem;
    margin: 8px;
    padding: 20px 10px;
    align-content: center;
    text-align: center;
    justify-content: center;
    vertical-align: middle;
    overflow: hidden;
    border-radius: 5px;
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.05), 0 1px 5px 0 rgba(0, 0, 0, 0.05);
    cursor: grab;
}
.sponsors-logo:hover {
    box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.1), 0 2px 7px 0 rgba(0, 0, 0, 0.1);
}

.imagee {
    /* margin-left: 4.5rem; */
    width: 14rem;
    height: 100%;
    display: flex-box;
    margin-top: 1 rem;
}

.imagee2 {
    margin-left: 2.5rem;
    width: 14rem;
    height: 100%;
}

h2 {
    margin: 0 0 88%;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
}

.faq_ .container {
    width: 100%;
    max-width: 60rem;
    margin: 3rem auto 0;
}

.faq {
    box-shadow: 0 2px 8px rgba(35, 35, 35, 0.3);
    margin: 1.5rem;
    transition: all 0.3s ease;
    cursor: pointer;
    background-color: #e2d4f4;
    z-index: 1;
}

.faq:hover {
    /* box-shadow: 0 4px 14px rgba(35, 35, 35, .30); */
    box-shadow: 0 4px 14px rgba(59, 1, 55, 0.3);
}

.faq_question {
    font-size: 1rem;
    font-weight: 400;
    padding: 0.5rem;
    position: relative;
}

.faq .to-bottom::before {
    content: '';
    position: absolute;
    top: 50%;
    right: 1rem;
    transform: translateY(-50%);
    border-right: 8px solid transparent;
    border-left: 8px solid transparent;
    border-top: 10px solid #707070;
}

.faq .to-bottom::after {
    content: '';
    position: absolute;
    top: 50%;
    right: calc(1rem + 1px);
    border-right: 7px solid transparent;
    border-left: 7px solid transparent;
    transform: translateY(calc(-50% - 2px));
    border-top: 9px solid #fff;
}

.faq .to-top::before {
    content: '';
    position: absolute;
    top: 50%;
    right: 1rem;
    transform: translateY(-50%);
    border-right: 8px solid transparent;
    border-left: 8px solid transparent;
    border-bottom: 10px solid #707070;
}

.faq .to-top::after {
    content: '';
    position: absolute;
    top: 50%;
    right: calc(1rem + 1px);
    border-right: 7px solid transparent;
    border-left: 7px solid transparent;
    transform: translateY(calc(-50% + 1px));
    border-bottom: 9px solid #fff;
}

.faq_answer {
    font-size: 1rem;
    font-weight: 200;
    display: none;
    padding: 1rem;
    border-top: 1px solid #bcbcbc;
}

.site-footer {
    background-color: #735180;
    padding: 45px 0 20px;
    font-size: 15px;
    line-height: 24px;
    color: #faf2fa;
}

.site-footer hr {
    border-top-color: #bbb;
    opacity: 0.5;
}

.site-footer hr.small {
    margin: 20px 0;
}

.site-footer h6 {
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    margin-top: 5px;
    letter-spacing: 2px;
}

.site-footer a {
    color: #faf2fa;
}

.site-footer a:hover {
    color: #3366cc;
    text-decoration: none;
}

.footer-links {
    padding-left: 0;
    list-style: none;
}

.footer-links li {
    display: block;
}

.footer-links a {
    color: #faf2fa;
}

.footer-links a:active,
.footer-links a:focus,
.footer-links a:hover {
    color: #3366cc;
    text-decoration: none;
}

.footer-links.inline li {
    display: inline-block;
}

.site-footer .social-icons {
    text-align: right;
}

.site-footer .social-icons a {
    width: 40px;
    height: 40px;
    line-height: 40px;
    margin-left: 6px;
    margin-right: 0;
    border-radius: 100%;
    background-color: #000000;
}

.copyright-text {
    margin: 0;
}

@media (max-width: 991px) {
    .site-footer [class^='col-'] {
        margin-bottom: 30px;
    }
}

@media (max-width: 767px) {
    .site-footer {
        padding-bottom: 0;
    }

    .site-footer .copyright-text,
    .site-footer .social-icons {
        text-align: center;
    }
}

.social-icons {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.social-icons li {
    display: inline-block;
    margin-bottom: 4px;
}

.social-icons li.title {
    margin-right: 15px;
    text-transform: uppercase;
    color: #96a2b2;
    font-weight: 700;
    font-size: 13px;
}

.social-icons a {
    background-color: #eceeef;
    color: #818a91;
    font-size: 16px;
    display: inline-block;
    line-height: 44px;
    width: 44px;
    height: 44px;
    text-align: center;
    margin-right: 8px;
    border-radius: 100%;
    -webkit-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

.social-icons a:active,
.social-icons a:focus,
.social-icons a:hover {
    color: #fff;
    background-color: #29aafe;
}

.social-icons.size-sm a {
    line-height: 34px;
    height: 34px;
    width: 34px;
    font-size: 14px;
}

.social-icons a.facebook:hover {
    background-color: #3b5998;
}

.social-icons a.twitter:hover {
    background-color: #00aced;
}

.social-icons a.linkedin:hover {
    background-color: #007bb6;
}

.social-icons a.dribbble:hover {
    background-color: #ea4c89;
}

@media (max-width: 767px) {
    .social-icons li.title {
        display: block;
        margin-right: 0;
        font-weight: 300;
    }
}
.modal-overlay {
    width: 100%;
    height: 7rem;
    display: grid;
    place-items: center;
    background-color: white;
    visibility: hidden;
    box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.04);
}

.modal-container {
    position: relative;
    max-width: 50vw;
    width: 6rem;
    height: 6rem;
    display: grid;
    place-items: center;
    background-color: white;
    border-radius: 12px;
}

.close-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    border: none;
    background-color: none;
    cursor: pointer;
    font-size: 16px;
}

.open-modal {
    visibility: visible;
    z-index: 10;
}
.navbar {
    position: absolute;
}

header {
    width: 100%;
    display: table;
    background-color: white;
}
#logo {
    float: left;
    font-size: 24px;
    text-transform: uppercase;
    color: #002e5b;
    font-weight: 600;
}
@media (min-width: 968px) {
    #logo {
        padding: 20px 20px;
    }
}
@media (max-width: 968px) {
    #logo {
        padding: 0px 0px;
    }
}
nav {
    width: auto;
    float: right;
    overflow: hidden;
}
nav ul {
    display: table;
    float: right;
}
nav ul li {
    text-decoration: none;
    list-style: none;
    outline: none;
    float: left;
}
nav ul li:last-child {
    padding-right: 0px;
}
.test-a {
    text-decoration: none;
}
nav ul li a {
    color: #002e5b;
    font-size: 18px;
    padding: 25px 20px;
    display: inline-block;
    transition: all 0.5s ease 0s;
}

nav ul li a:hover {
    background-color: #002e5b;
    color: white;
    transition: all 0.5s ease 0s;
}
nav ul li a:hover i {
    color: white;
    transition: all 0.5s ease 0s;
}
nav ul li a i {
    padding-right: 10px;
    color: #002e5b;
    transition: all 0.5s ease 0s;
}

.toggle-menu ul {
    display: table;
    width: 25px;
}
.toggle-menu ul li {
    width: 100%;
    height: 3px;
    background-color: #002e5b;
    margin-bottom: 4px;
}
.toggle-menu ul li:last-child {
    margin-bottom: 0px;
}

input[type='checkbox'],
label {
    display: none;
}

.content {
    display: table;
    margin-bottom: 60px;
    width: 900px;
}
.content h2 {
    font-size: 18px;
    font-weight: 500;
    color: #002e5b;
    border-bottom: 1px solid white;
    display: table;
    padding-bottom: 10px;
    margin-bottom: 10px;
}
.content p {
    font-size: 14px;
    line-height: 22px;
    color: #7c7c7c;
    text-align: justify;
}

footer {
    display: table;
    padding-bottom: 30px;
    width: 100%;
}
.social {
    margin: 0px auto;
    display: table;
    display: table;
}
.social li {
    float: left;
    padding: 0px 10px;
}
.social li a {
    color: #002e5b;
    transition: all 0.5s ease 0s;
}
.social li a:hover {
    color: white;
    transition: all 0.5s ease 0s;
}

@media only screen and (max-width: 1440px) {
    section {
        max-width: 100%;
    }
}

@media only screen and (max-width: 980px) {
    header {
        padding: 20px 0px;
    }
    .logo img {
        margin-top: 1rem;
        padding: 10px;
    }
    input[type='checkbox'] {
        position: absolute;
        top: -9999px;
        left: -9999px;
        background: none;
    }
    input[type='checkbox']:fous {
        background: none;
    }
    label {
        float: right;
        padding: 8px 0px;
        display: inline-block;
        cursor: pointer;
    }
    input[type='checkbox']:checked ~ nav {
        display: block;
    }

    nav {
        display: none;
        position: absolute;
        right: 0px;
        top: 53px;
        background-color: #002e5b;
        padding: 0px;
        z-index: 99;
    }
    nav ul {
        width: auto;
        margin: 0px;
    }
    nav ul li {
        float: none;
        padding: 0px;
        width: 100%;
        display: table;
    }
    nav ul li a {
        color: #fff;
        font-size: 15px;
        text-decoration: none;
        padding: 10px 20px;
        display: block;
        border-bottom: 1px solid rgba(225, 225, 225, 0.1);
    }
    nav ul li a i {
        color: white;
        padding-right: 13px;
    }
}

@media only screen and (max-width: 980px) {
    .content {
        width: 90%;
    }
}

@media only screen and (max-width: 568px) {
    h1 {
        padding: 25px 0px;
    }
    h1 span {
        display: block;
    }
}

@media only screen and (max-width: 480px) {
    section {
        max-width: 90%;
    }
}

@media only screen and (max-width: 360px) {
    h1 {
        font-size: 20px;
    }
    label {
        padding: 5px 0px;
    }
    #logo {
        font-size: 20px;
    }
    nav {
        top: 47px;
    }
}

@media only screen and (max-width: 320px) {
    h1 {
        padding: 20px 0px;
    }
}
