html,
body {
    overflow-x: hidden;
}
body {
    background-color: #f1f0f6;
    font-size: 16px;
    margin: 0;
    box-sizing: border-box;
}
.button {
    background-color: grey;
    padding: 0.26rem;
    color: white;
    border: 1px solid #756969;
    box-sizing: border-box;
    border-radius: 3px;
    width: 7rem;
    cursor: pointer;
    margin-left: 75%;
}
.basic {
    margin-top: 5%;
    margin-left: 6%;
    margin-bottom: 15%;
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 100%;
    justify-content: center;
}
.container {
    width: 100%;
    margin: 0;
    background-color: white;
    display: flex;
    justify-content: center;
    padding: 5%;
}
input,
select {
    width: 100%;
    height: 2.5rem;
    outline: none;
    border: 1px solid #bbbbbb;
    box-sizing: border-box;
    border-radius: 5px;
}

h4 {
    text-align: left;
    padding: 20px;
}

.head {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.logo {
    float: left;
    position: relative;
    border-radius: 6px;
    width: 5.6rem;
    height: 2.1rem;
}

.name,
.email,
.dob,
.gender .phone {
    display: flex;
    flex-direction: column;
}

.name input,
.last-name input {
    text-align: center;
}

.last-name p {
    visibility: hidden;
}

input[type='radio'] {
    -webkit-appearance: none;
    appearance: none;
    background: none;
    /* iOS fix */
    background: #ffffff;
    border: 1px solid #bbbbbb;
    box-sizing: border-box;
    height: 1.125rem;
    width: 1.125rem;
    border-radius: 50%;
    cursor: pointer;
}

.inst input {
    background: rgba(241, 240, 247, 0.7);
}
.edu-div {
    display: inline-block;
    width: 48.4%;
}
.edu {
    display: flex;
    justify-content: space-between;
}
/* @media (min-width: 768px) {
    .inst select {
        margin: 2rem;
        width: 500px;
        align-self: flex-start;
    }
    .inst {
        display: flex;
    }
    .name,
    .email,
    .dob,
    .gender
    .phone {
        display: flex;
        flex-direction: row;
    }
}
.logo {
    position: relative;
    border-radius: 6px;
    width: 90px;
    height: 34px;
}
@media (min-width: 768px) {
    .profile-box {
        margin-top: 10%;
    }
}
@media (max-width: 768px) {
    .profile-box {
        margin-top: 16%;
    }
} */
nav {
    position: absolute;
    background: #ffffff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.footer {
    text-align: center;
    margin-left: 46%;
}
