<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>| Code of Conduct</title>
    <link rel="stylesheet" href="../static/css/code.css">
</head>
<body >
    <h1><u>Code of conduct</u> </h1> <br> <hr>
    <p>
        Our hackathon is dedicated to providing a safe and comfortable environment and
harassment-free experience for everyone. <br> <br>
● Harassment of hackathon participants is not tolerated under any circumstances. Please
show the utmost respect to all other hackers. We urge that you be courteous,
professional, and refrain from disrespecting or dismissing other guests. Harassment and
remarks that are racist, sexist, or exclusionary are not appropriate for this event. Please
contact the nearest hackathon organiser if you notice a fellow hacker being harassed at
any time. <br>
● Please show the utmost respect to our sponsors, organisers, and judges. Take some
time off work to meet with them and speak with them. We kindly request that you give
them some of your time if they come over to speak with you. They've come to assist you.
Demonstrate how grateful you are. <br>
● Photography is encouraged, but other participants must be given a reasonable chance
to opt out from being photographed. If they object to the taking of their photograph,
comply with their request. It is inappropriate to take photographs in contexts where
people have a reasonable expectation of privacy (in bathrooms or where participants are
sleeping). <br>
● Any hackathon venue, including hacks, talks, presentations, or demos workshops, any
parties linked with the hackathon, social media, or any other online media, is prohibited
from using sexual language and imagery. <br> <br>
<h3><b>Covid regulations </b></h3>   <hr>
We are taking precautions against Covid 19 in order to assist and protect everyone at the
venue, and everyone should be aware of the Covid protocols, which include the following; <br>
● Maintaining social distance, wearing masks, and sanitising frequently. <br>
● Maintain a healthy environment to reduce the risk. <br>
● Please inform the organisers at the earliest if you are experiencing any symptoms. <br>
● It'll be made sure that the said covid protocols are being followed. <br>
    </p>
</body>
</html>