<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hack22</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="../static/css/profileUpdate.css" />
</head>

<body>
    <!-- navbar begins -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
        <a class="navbar-brand" href="#"><img src="../static/img/Logo.jpeg" alt="logo" class="logo" /></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Dashboard <span class="sr-only">(current)</span></a>
                </li>
            </ul>
        </div>
    </nav>
    <!-- navbar ends -->
    <!-- profile box -->
    
    <div class="basic">
        <div class="heading"> <h4>BASIC INFO</h4></div>
    <div class="container">
     
       <br> 

        <div class="col col-lg-5 col-md-5 col-sm-10 col-xs-10">
            <div class="name">
                <p>Name:</p>
                <input type="text" placeholder="first name"></input>
            </div>
            <br />
            <div class="email">
                <p>Email:</p>
                <input type="text" placeholder=""></input>
            </div>
            <br />
            <div class="dob">
                <p>DOB</p>
                <input type="text" placeholder=""></input>
            </div>
            <br />
        </div>
        <div class="col col-lg-5 col-md-5 col-sm-10">
            <div class="last-name">
                <p>last name</p>
                <input type="text" placeholder="Last name"></input>
            </div>
            <br />
            <div class="phone">
                <p>Phone:</p>
                <input type="text" placeholder=""></input>
            </div>
            <br />
            <div class="gender">
                
                    <p>Gender:</p>
                    <select type="text" placeholder="">
                        <option value="nothing">Prefer Not to say</option>
                        <option value="nothing">Male</option>
                        <option value="nothing">Non Binary</option>
                        <option value="nothing">Transgender</option>
                        <option value="nothing">Female</option>
                    </select>
                
            </div>
            <br />
        </div>
      </div>
    
        <div class="container">

            <div class="col col-lg-10 col-md-10 col-sm-10">
                <div>
                    <p>TEAM STATUS</p>
                    <input type="text" ></input>
                </div></br>
                <div class="inst">
                    <p>INSTITUTION</p>
                    <input type="text" ></input>
                </div>
                <br />
                <div class="edu">
                    <div class="edu-div">
                        <p>CURRENT LEVEL OF STUDY</p>
                        <input type="text" ></input>
                    </div>
                    <div class="edu-div">
                        <p>EXPECTED GRADUATION YEAR</p>
                        <input type="text" placeholder=""></input>
                    </div>
                    
                </div>
                <br>
                <div class="tshirt">
                    <p>T-SHIRT SIZE</p>
                    <input type="text" placeholder="T-shirt size"></input>
                </div>
                <br>
                <div class="shipping">
                    <p>SHIPPING ADDRESS</p>
                    <input type="text" placeholder=""></input>
                </div>
                <br>
                <div class="edu">
                    <div class="edu-div">
                        <p>STATE</p>
                        <input type="text" ></input>
                    </div>
                    <div class="edu-div">
                        <p>PINCODE</p>
                        <input type="text" placeholder=""></input>
                    </div>
                    
                </div>
                <br>
                <div class="shipping">
                    <p> Which of the following avengers do you relate the most?</p>
                    <select>
                        <option value="nothing">Nothing Selected</option>
                        <option value="Hulk">Hulk</option>
  <option value="Ironman">Iron man</option>
  <option value="CaptonAmerica">Capton America</option>
  <option value="BlackWidow">Black Widow</option>
  <option value="SpiderMan">Spider Man</option>
                    </select>
                </div>
                <br>
                <br>
                <div class="shipping">
                    <p>WEBSITE LINK</p>
                    <input type="text" placeholder="Link to your personal website"></input>
                </div>
                <br>
               
                <div class="shipping">
                    <p>GITHUB PROFILE LINK</p>
                    <input type="text" placeholder="Link to your github profile"></input>
                </div>
                <br>
                <div class="shipping">
                    <p>LINKEDIN PROFILE LINK</p>
                    <input type="text" placeholder="Link to your linkedin profile"></input>
                </div>
                <br>
                <div class="shipping">
                    <p>TWITTER PROFILE LINK</p>
                    <input type="text" placeholder="Link to your twitter profile"></input>
                </div>
                <br>
                <div class="resume">
                    <p>RESUME LINK</p>
                    <input type="text" placeholder="Link to your resume"></input>
                </div>
                <br>
                <div class="resume">
                    <p>DO YOU HAVE A VACCINE CARD?(solely used for logistical statistics,your information will not be shared)?</p>
                    <input type="text" placeholder="Link to your resume"></input>
                </div>
            </div>
        </div>
        <br>
        <div class="button">
            Update profile
        </div>
        </div>

        
        
        <!-- Footer -->
        <footer class="fixed-bottom">
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <div class="footer">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <div class="footer-content">
                                <a class="nav-link" href="#">Having Issues?</a>
                            </div>
                            <div class="footer-content">
                                <a class="nav-link" href="#">Contact us</a>
                            </div>
                            <!-- <span class="sr-only">(current)</span> -->
                        </li>
                    </ul>
                </div>
            </nav>
        </footer>
        <!-- Footer ends -->
</body>
<script></script>

</html>